<div id="attendance" class="section">
    <div class="container">
        <h1>Groups / Attendance</h1>
        <p>Please Read <a href="https://docs.google.com/document/d/15RtfochAzTeGPTBEe3MLxdXnmY1_Sw6BPh8zGLofeDE" target="_blank">THIS</a> document for Team color description and Cruma Strategy</p>
        <input type="text" (ngModelChange)="page = 1" [(ngModel)]="userSearch" class="form-control userSearch" placeholder="Filter by name">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Team</th>
                    <th>M</th>
                    <th>T</th>
                    <th>W</th>
                    <th>Th</th>
                    <th>F</th>
                    <th>Sa</th>
                    <th>Su</th>
                    <th>Fort</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of rows | NameFilter: userSearch | slice:(page-1)*limit:page*limit">
                    <td>{{ row.name }}</td>
                    <td [ngClass]="teamColorSelector(row.team)">{{ insertNumberSpace(row.team) }}</td>
                    <td [ngClass]="attendanceColor(row.m)">{{ row.m }}</td>
                    <td [ngClass]="attendanceColor(row.t)">{{ row.t }}</td>
                    <td [ngClass]="attendanceColor(row.w)">{{ row.w }}</td>
                    <td [ngClass]="attendanceColor(row.th)">{{ row.th }}</td>
                    <td [ngClass]="attendanceColor(row.f)">{{ row.f }}</td>
                    <td [ngClass]="attendanceColor(row.sa)">{{ row.sa }}</td>
                    <td [ngClass]="attendanceColor(row.su)">{{ row.su }}</td>
                    <td [ngClass]="attendanceColor(row.fort)">{{ row.fort }}</td>
                </tr>
            </tbody>
        </table>
        <div class="paginator">
            <ngb-pagination [collectionSize]="(rows.length / limit) * 10" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
        </div>
    </div>
</div>
